@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #121212;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  position: relative;
  max-width: 150px;
}
.navegation ul {
  position: relative;
  display: flex;
}
.navegation li {
  list-style: none;
}
.button-nav {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  margin-left: 100px;
  border-radius: 40px;
  border: 2px solid transparent;
  transition: all 0.5 ease-in-out;
}
.button-nav:hover {
  background-color: red;
  opacity: 0.8;
  transform: scale(1.1);
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}
.text h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
  line-height: 2.5rem;
  font-weight: 700;
}
.text span {
  font-size: 5rem;
  color: red;
  font-weight: bold;
}
.text p {
  color: white;
}
.button-view {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  border-radius: 40px;
  margin-top: 20px;
  padding: 5px;
  transition: all 0.3 ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
.button-view:hover {
  transform: scale(1.1);
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
  clip-path: circle(50% at bottom right);
}
.icons {
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons li {
  list-style: none;
}
.icons li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #222;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.icons li a:hover {
  transform: translateY(-10px);
  background-color: red;
}
.icons li a img {
  transform: scale(0.5);
  filter: invert(1);
}
.boxImg {
  position: absolute;
  right: 0;
  bottom: -40px;
}
.boxImg img {
  width: 150px;
}
.boxImg .img1 {
  transform: rotate(-15deg);
}
.boxImg .img2 {
  transform: rotate(5deg);
}
.boxImg .img3 {
  transform: rotate(15deg);
}
.boxImg .img4 {
  transform: rotate(-15deg);
}
